language: node_js
node_js:
 - "8.11.3"
script: 
 - "npm test"
after_script: NODE_ENV=test istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly tests/**/*.test.ts -- -R spec --require espower-typescript/guess && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
